@import url('https://fonts.googleapis.com/css2?family=Red+Hat+Display:wght@500;700;900&display=swap');

*,
*::before,
*::after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body{
   font-family: 'Red Hat Display', sans-serif;
   min-height: 100vh;
   background-image: url(images/pattern-background-desktop.svg);
   background-repeat: no-repeat;
   background-size: contain;
   background-color: hsl(225, 100%, 94%);
   position: relative;
   font-size: 1rem;
}

/*.bg-desktop{
   position: absolute;
   z-index: -1;
}*/

.container{
   position: absolute;
   top: 50%;
   left: 50%;
   transform: translate(-50%, -50%);
   max-width: 28rem;
   background-color: white;
   border-radius: 1.1rem;
   overflow: hidden;
}


.text-container{
   padding: 6%;
   text-align: center;
}

.title{
   color: hsl(223, 47%, 23%);
   font-weight: 900;
   font-size: 2rem;
   margin-bottom: 1.1rem;
}

.text-container p.subtitle{
   color: #778899;
   margin-bottom: 1.3rem;
}

.plan-box{
   width: 90%;
   background-color: hsl(225, 100%, 98%);
   border-radius: 0.8rem;
   display: flex;
   margin: 0 5%;
   padding: 1.2rem;
   align-items: center;
   justify-content: space-between;
}

.plan-box-left{
   display: flex;
   align-items: center;
   text-align: left;
}

.plan-box-left div{
   text-align: left;
   margin-left: 1.1rem;
}

.plan-box-left div h5{
   font-weight: 900;
   font-size: 0.9rem;
   color: hsl(223, 47%, 23%);
}

.plan-box-left div p{
   font-size: 0.9rem;
   color: #778899;
}

.plan-box a{
   font-weight: 900;
   font-size: 0.8rem;
   color:hsl(245, 75%, 52%);
   transition: color .3s ease;
}

.plan-box a:hover{
   text-decoration: none;
   color: hsl(223, 47%, 23%);
   
}

.proceed-btn{
   width: 90%;
   text-decoration: none;
   color: #fff;
   background-color: hsl(245, 75%, 52%);
   padding: 1.1rem;
   border-radius: 0.5rem;
   margin: 1.8rem 0;
   font-weight: 900;
   font-size: 0.9rem;
   transition: background-color .3s ease;
   cursor: pointer;
}

.proceed-btn:hover{
   background-color: hsl(224, 23%, 55%);
}

.cancel-btn{
   color: hsl(224, 23%, 55%);
   text-decoration: none;
   font-weight: 900;
   padding-bottom: 40rem;
   font-size: 0.8rem;
   transition: color .3s ease;
}

.cancel-btn:hover{
   color: hsl(223, 47%, 23%);
}

.attribution {
   position: absolute;
   bottom: 3%;
   margin-left: 2%;
   font-size: 0.69rem; 
}
.attribution a { 
   color: hsl(228, 45%, 44%); 
}

@media only screen and (max-width:425px){
   body{
      background-image: url(images/pattern-background-mobile.svg);
      font-size: 0.8rem;
   }
   .container{
      max-width: 90vw;
   }

   .hero{
      max-width: 90vw;
   }
   
   .title{
      font-size: 1.3rem;
   }

   div.plan-box{
      padding: 0.6rem;
   }

   .plan-box-left div{
      margin-left: 0.5rem;
   }

   .proceed-btn,
   .cancel-btn,
   .plan-box a{
      font-size: 0.5rem;
   }
   
   .text-container{
      padding: 9% 7%;
   }

   .attribution{
      font-size: 0.6rem;
   }

}



